:root {
  --h4_text: 18px;
  --primary_color: #282c34;
  --space_large: 30px; 
  --space_medium: 20px;
  --space_small: 10px
}

.header {
  background-color: var(--primary_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header > h2 {
  text-align: center;
}

.dashboard-container {
  display: flex;
  gap: var(--space_large);
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: var(--space_small);
  padding-top: var(--space_medium);
}

.dashboard-container > .search-container {
  padding: var(--space_small);;
  font-size: var(--h4_text);
  box-shadow: 3px 12px 23px -2px rgba(0,0,0,0.3);
  border-radius: var(--space_small);;
}

.search-container > .input-container {
  margin-top: var(--space_large);
  display: flex;
  gap: var(--space_medium);
  flex-direction: column;
  padding: var(--space_small);;
}

.input-container > div >  button {
  font-size: 16px;
  font-weight: 400;
  padding: var(--space_small) 28px;
  cursor: pointer;
  transition-duration: 0.4s;
  line-height: 1;
  background: var(--primary_color);
  border-color: var(--primary_color);
  color: white;
  border-radius: 5px;
}

.input-container > div >  button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.input-container > .dropdown {
  display: flex;
  gap: var(--space_small);;
  justify-content: center;
}

.input-container > .dropdown > label {
  font-size: 18px;
}

.dashboard-container > .chart-container {
  width: 100%;
  font-size: var(--h4_text);
  height: 80vh;
  border-radius: var(--space_small);;
  box-shadow: 3px 12px 23px -2px rgba(0,0,0,0.3);
  position: relative;
}

.dashboard-container > .chart-container > .loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--primary_color);
  animation: spin 2s linear infinite;
  margin-left: -30px;
  margin-top: -30px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-container > .chart-container > .chart {
  width: 100%;
  height: 100%;
}

.dashboard-container > .chart-container > .chart > div {
  border-radius: var(--space_small) !important;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 140px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal > .modal-content {
  font-size: 18px;
  line-height: var(--space_medium);
  max-width: 500px;
  position: relative;
  background-color: #fefefe;
  padding: var(--space_large) 15px;
  border: 1px solid #888;
  width: 80%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
  gap: var(--space_medium);;
}

.modal > .modal-content > .modal-footer > button {
  font-size: 16px;
  font-weight: 400;
  padding: var(--space_small) 28px;
  cursor: pointer;
  transition-duration: 0.4s;
  line-height: 1;
  background: var(--primary_color);
  border-color: var(--primary_color);
  color: white;
  border-radius: 5px;
}

@keyframes animatetop {
  from {transform:translateY(-300px); opacity:0}
  to {transform:translateY(0px); opacity:1}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (min-width: 791px) {
  .dashboard-container {
    flex-direction: row;
    align-items: unset;
    gap: var(--space_medium);;
    height: 80vh;
  }
  .dashboard-container > .search-container {
    width: 40%;
  }
}